<div class="card">
  <div class="card-header actions-toolbar">
    <div class="row justify-content-between align-items-center">
    <% if params[:project_id] %>
        <h6 class="d-inline-block mb-0"><i class="fas fa-tasks"></i> <%= @project.name %></h6>
    <% elsif params[:search] %>
      <h6 class="d-inline-block mb-0"><i class="fas fa-tasks"></i></i> Success</h6>
    <% else %>
        <h6 class="d-inline-block mb-0"><i class="fas fa-inbox"></i> Inbox</h6>
    <% end %>
    <i class="fas fa-search ml-4"></i>
    <%= form_tag tasks_path, method: :get, class: "ml-1" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search for a task...", class: "form-control form-control-flush", autocomplete: 'off' %>
      <%= submit_tag("Search", name: nil, style: "display: none;") %>
    <% end %>
    <% if params[:project_id] %>
      <%= link_to new_project_task_path, class: 'ml-auto btn btn-sm btn-success btn-icon-only rounded-circle' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% else %>
      <%= link_to new_task_path, class: 'ml-auto btn btn-sm btn-success btn-icon-only rounded-circle' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="card-wrapper p-3">
    <% if !params[:project_id] %>
      <div class="form-group">
      <%= form_for(@task) do |f| %>
        <%= f.text_field :name, :class => "form-control form-control-flush", :placeholder => "Click here and start typing to create a new inbox item...", autocomplete: 'off' %>
        <%= f.submit :style => "display: none;" %>
      <% end %>
      </div>
    <% end %>
    <div class="checklist">
      <% @tasks.each do |task| %>
      <div class="card border">
        <div class="px-3 py-2 row align-items-center">
          <div class="col-10">
            <%= form_for(task) do |f| %>
              <div class="custom-control custom-checkbox">
              <%= f.check_box :status, :class => "custom-control-input toggle", :id => task.id, :value => true, :onchange => "this.form.submit();" %>
            <% end %>
              <label class="custom-control-label h6 text-sm" for="<%= task.id %>">
                <%= link_to task.name, task_path(task) %>
              </label>
            </div>
          </div>
          <div class="card-meta d-inline-flex ml-sm-auto">
            <div class="mr-2">
              <%= task.due_date %>
            </div>
            <div class="mr-2">
              <%= link_to edit_task_path(task), :class => "action-item" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </div>
            <div class="mr-2">
              <%= button_to task_path(task), :method => :delete, :class => "action-item" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>