        <div class="card">
          <!-- Card header -->
          <div class="card-header actions-toolbar">
            <div class="row justify-content-between align-items-center">
              <div class="col">
                <h6 class="d-inline-block mb-0"><i class="fas fa-inbox"></i> Inbox</h6>
              </div>
              <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
                <%= link_to '+', new_task_path, class: 'btn btn-sm btn-dark btn-icon-only rounded-circle' %>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card">
            <div class="card-wrapper p-3">
              <div class="form-group">
                <%= form_for(@task) do |f| %>
                  <%= f.text_field :name, :class => "form-control form-control-flush", :placeholder => "Click here and start typing to create a new inbox item...", autocomplete: 'off' %>
                  <%= f.submit :style => "display: none;" %>
                <% end %>
              </div>
              <div class="checklist" data-toggle="dragula">
              <% @tasks.each do |task| %>
                <div class="card border draggable-item shadow-none">
                  <div class="px-3 py-2 row align-items-center">
                    <div class="col-10">
                      <%= form_for(task) do |f| %>
                      <div class="custom-control custom-checkbox">
                        <%= f.check_box :status, :class => "custom-control-input toggle", :id => task.id, :value => true %>
                      <% end %>
                        <label class="custom-control-label h6 text-sm" for="<%= task.id %>">
                          <%= link_to task.name, task_path(task) %>
                        </label>
                      </div>
                    </div>
                    <div class="card-meta d-inline-flex align-items-center ml-sm-auto">
                      <div class="action-item mr-2">
                        <%= task.due_date %>
                      </div>
                      <div class="dropdown" data-toggle="dropdown">
                        <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <%= button_to 'Delete task', task_path(task), class: 'dropdown-item', method: :delete, data: { confirm: "Are you sure?" } %>
                          <%= link_to 'Edit task', edit_task_path(task), class: 'dropdown-item', data: { modal: true } %>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
              <!-- Empty container -->
              <span class="empty-container" data-placeholder="Empty"></span>
            </div>
          </div>
        </div>
      </div>