<div class="card">
  <div class="card-header actions-toolbar">
    <div class="row justify-content-between align-items-center">
      <div class="col">
        <h6 class="d-inline-block mb-0"><i class="fas fa-tasks"></i> Projects</h6>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
        <%= link_to new_project_path, class: 'btn btn-sm btn-success btn-icon-only rounded-circle' do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-wrapper p-3">
    <span>
      <% if @projects.empty? %>
        <%= "Time to create a new project! Use the + button to get started." %>
      <% end %>
    </span>
    <div class="checklist">
      <% @projects.each do |project| %>
      <div class="card border shadow-none">
        <div class="px-3 py-2 row align-items-center">
          <div class="col-10">
            <%= form_for(project) do |f| %>
            <div class="custom-control custom-checkbox">
              <%= f.check_box :status, :class => "custom-control-input toggle", :id => project.id, :value => true, :onchange => "this.form.submit();" %>
            <% end %>
              <label class="custom-control-label h6 text-sm" for="<%= project.id %>"><%= link_to project.name, project_tasks_path(project) %></label>
              <% project.contexts.each do |c| %>
              <span class="badge badge-soft-primary badge-pill">
                <%= link_to c.name, context_path(c) %>
              </span>
              <% end %>
            </div>
          </div>
          <div class="col-auto card-meta d-inline-flex align-items-center ml-sm-auto">
            <div class="actions d-inline-block">
              <div class="mr-2">
                <span>
                  <i class="far fa-check-circle mr-2"></i>
                  <%= pluralize(project.tasks.count, "task") %>
                </span>
              </div>
            </div>
            <div class="mr-2">
              <%= link_to edit_project_path(project), :class => "action-item" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </div>
            <div class="mr-2">
              <%= button_to project_path(project), :method => :delete, :class => "action-item" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
