<div class="card">
  <div class="card-header actions-toolbar">
    <div class="row justify-content-between align-items-center">
      <h6 class="d-inline-block mb-0"><i class="fas fa-map-marker-alt"></i> Contexts</h6>
      <%= link_to new_context_path, class: 'btn btn-sm btn-success btn-icon-only rounded-circle' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div class="card-wrapper p-3">
    <span>
      <% if @contexts.empty? %>
        <%= "Time to create a new context! Use the + button to get started." %>
      <% end %>
    </span>
    <div class="checklist">
      <% @contexts.each do |context| %>
      <div class="card border">
        <div class="px-3 py-2 row align-items-center">
          <div class="col-7">
            <label class="h6 text-sm" for="<%= context.id %>">
              <%= link_to context.name, context_path(context) %>
            </label>
              <span class="text-sm ml-2">
                <%= context.location %>
              </span>
          </div>
          <div class="card-meta d-inline-flex ml-sm-auto">
          <div class="mr-2">
              <span>
                <i class="fa fa-tasks mr-2"></i>
                  <%= pluralize(context.projects.count, "project") %>
              </span>
            </div>
            <div class="mr-2">
              <%= link_to edit_context_path(context), :class => "action-item" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </div>
            <div class="mr-2">
              <%= button_to context_path(context), :method => :delete, :class => "action-item" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>