<div class="container-fluid container-application">
  <div class="main-content position-relative">      
    <div class="page-content">
      <div class="min-vh-100 py-5 d-flex align-items-center">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-4">
              <div class="card shadow zindex-100 mb-0">
                <div class="card-body px-md-5 py-5">
                  <div class="mb-5">
                    <h6 class="h3">Login</h6>
                    <p class="text-muted mb-0">Sign in to your account to continue.</p>
                  </div>
                  <span class="clearfix"></span>
                    <div class="form-group">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <%= f.label :email, :class => "form-control-label" %><br />
                        <div class="input-group input-group-merge">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <%= f.email_field :email, autofocus: true, :class => "form-control", :id => "input-email", :placeholder => "name@example.com", autocomplete: "email" %>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <div class="d-flex align-items-center justify-content-between">
                          <div>
                            <%= f.label :password, :class => "form-control-label" %><br />
                          </div>
                      </div>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <%= f.password_field :password, :class => "form-control", :id => "input-password", :placeholder => "Password", autocomplete: "current-password" %>
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <span data-toggle="password-text" data-target="#input-password">
                              <i class="fas fa-eye"></i>
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end %>
                    <div class="mt-4">
                      <span class="btn-inner--icon">
                        <%= f.submit "Log in", :class => "btn btn-sm btn-primary btn-icon rounded-pill" %>
                      <i class="fas fa-long-arrow-alt-right"></i></span>
                    </div>
                <% end %>
                </div>
                <div class="card-footer px-md-5">
                  <%= render "users/shared/links", :class => "small font-weight-bold" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>